/ads.txt
/CNAME
/phpinfolws.php
/robots.txt/sitemap.xml
*.css.map
/style/stylesheets/main.css
/style/stylesheets/main_guides.css
/style/stylesheets/buttons.css
/style/stylesheets/trash/
/style/stylesheets/navbar/navbar__f.css
/markdown/
default_index.html
/.htaccess