/* ---------------------- This file is used to manage all fonts from homebrewfrance.fr ----------------- */
/* ------------- Ce fichier est utilisé pour gérer toutes les polices de homebrewfrance.fr ------------- */

/* Sora */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Instrument Sans */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* Syne */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Geist Mono */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');