@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap&family=Unbounded:wght@800&display=swap&family=Montserrat:wght@700&display=swap&family=Gabarito&display=swap&family=Lexend:wght@100..900&display=swap&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Space+Grotesk:wght@300..700&display=swap");
@media only screen and (max-width: 1024px) {
  #mockup {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .titles {
    font-size: 23px;
  }
  .banner-container {
    margin-left: 3%;
    margin-right: 3%;
  }
  .partner-container {
    display: flex;
    flex-direction: column;
  }
  div.page {
    padding-left: 5.5%;
    padding-right: 5.5%;
    width: 100%;
  }
  .container-staff {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .grid-staff {
    width: 270px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .container-presta {
    flex-direction: column;
  }
  .grid-shop {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .grid-downloads {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .warning {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pres {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 800px) {
  .titles {
    font-size: 29px;
  }
  .banner-container {
    margin-left: 7%;
    margin-right: 7%;
  }
  div.page {
    padding-left: 8.6%;
    padding-right: 8.6%;
    width: 100%;
  }
  .container-presta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .partner-container {
    display: flex;
    flex-direction: row;
  }
  .grid-downloads {
    margin: 10px;
    width: auto;
    flex-grow: 1;
    float: left;
    cursor: pointer;
    width: 350px;
  }
  .grid-shop {
    width: 300px;
    margin: 8px;
    flex-grow: 1;
  }
  .warning {
    padding-inline: 3%;
  }
  .grid-shop:hover, .grid-downloads:hover, .add-infos-shop:hover {
    transform: scale(1.02);
    cursor: default;
  }
  .pres {
    width: 50%;
    margin: 5px;
  }
  .row-basic {
    display: flex;
    flex-direction: row;
  }
  .nobuyoshi-item:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgba(31, 32, 35, 0.9098039216);
  }
  .pres:hover {
    cursor: pointer;
    background-color: rgba(31, 32, 35, 0.3137254902);
    border-radius: 25px;
  }
}
input:focus {
  box-shadow: 0px 1px 13px 2px rgba(112, 112, 112, 0.75);
  -webkit-box-shadow: 0px 1px 13px 2px rgba(112, 112, 112, 0.75);
  -moz-box-shadow: 0px 1px 13px 2px rgba(112, 112, 112, 0.75);
}

.navigationElements::before {
  content: "⯈  ";
}

.indicator {
  font-size: 65px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  margin-top: 75px;
}

#indicatorSeparator {
  height: 1px;
  color: #4c4c4c;
  background-color: #4c4c4c;
  border: none;
  margin-top: 25px;
}

#nobuyoshi-grid {
  padding: 6px;
  background: rgba(32, 39, 54, 0.8);
  border: none;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 15px;
}

.nobuyoshi-item a:hover {
  text-shadow: none;
}

.nobuyoshi-item {
  display: flex;
  flex-direction: row;
  background-color: rgba(31, 32, 35, 0.631372549);
  border-radius: 25px;
  border: 1px solid #333;
  transition: 0.3s;
  padding: 23px;
  height: auto;
  overflow-wrap: anywhere;
  margin-bottom: 7px;
  backdrop-filter: blur(25px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

ul {
  margin-left: 30px;
  margin-block: 13px;
}

.pres {
  display: flex;
  flex-direction: row;
  border: none;
  transition: 0.3s;
  padding: 16px;
  height: auto;
  overflow-wrap: anywhere;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.page {
  margin-bottom: 12px;
}
.page a:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.button-man {
  border: 1px solid white;
  background-color: #607d8b;
  padding: 4px;
  margin: 5px;
}

.button-man:hover {
  background-color: #37474f;
}

html {
  scroll-behavior: smooth;
  height: auto;
}

a {
  color: #ffffff;
  transition: 0.3s;
}

body {
  width: 100%;
  /*background-color: #121316;
  background: radial-gradient(circle, rgba(138,43,226,0.4), rgba(75,0,130,0.15), transparent 100%);*/
  background: radial-gradient(circle, rgba(138, 43, 226, 0.4), rgba(75, 0, 130, 0.15), transparent 70%), #121316;
  scroll-behavior: smooth;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  /*background-image: url('https://homebrew-france.fr/style/assets/generic/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  color: white;
}

p, ul, li, code {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.discord-title {
  background: linear-gradient(to bottom, white, #999999);
  --webkit-background-clip: text;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

div.page-forms {
  padding-right: 7%;
  padding-left: 7%;
  width: 100%;
}

.about {
  text-align: justify;
  padding-left: 150px;
  padding-right: 150px;
}

.head {
  background-color: #ffe600;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

div.gallery {
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 180px;
  background-color: white;
  margin: 8px auto;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

table, td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

thead, tfoot {
  background-color: #333;
  text-align: center;
}

/* PACKS */
/*.page button {
          background-color: #303337;
          backdrop-filter: blur(16px);
          -moz-backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	border-radius: 10px;
	border: none;
	transition: 0.3s;
	font-family: $primary-font;
	padding: 8px;
	font-size: 19px;
	margin: 10px;
          font-weight: 600;
	color: white;
}*/
.page button {
  margin-block: 15px;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 50px;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  font-weight: 400;
  padding-inline: 18px;
  padding-block: 4px;
  color: white;
  margin-right: 8px;
  transition: 0.3s;
}

.default-button, .git-button, .twitter-button, .tiktok-button, .ds-button, .insta-button, .yt-button, .twitch-button {
  font-size: 15px;
}

.default-button {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #75418d;
  box-shadow: 0 0 10px rgba(222, 150, 255, 0.5);
}

.default-button:hover {
  background: rgba(66, 66, 66, 0.8);
}

.git-button, .twitter-button, .tiktok-button {
  box-shadow: 0 0 10px rgba(214, 214, 214, 0.5);
  background: rgba(22, 22, 22, 0.5);
  border: 1px solid #fcfcfc;
}

.git-button:hover, .twitter-button:hover, .tiktok-button:hover {
  background: rgba(77, 77, 77, 0.8);
}

.ds-button {
  box-shadow: 0 0 10px rgba(80, 141, 255, 0.5);
  background: rgba(40, 89, 248, 0.5);
  border: 1px solid #006ec9;
}

.ds-button:hover {
  background: rgba(105, 139, 252, 0.8);
}

.insta-button {
  box-shadow: 0 0 10px rgba(181, 54, 255, 0.5);
  background: rgba(154, 0, 201, 0.5);
  border: 1px solid #ff00f2;
}

.insta-button:hover {
  background: rgba(161, 46, 196, 0.8);
}

.yt-button {
  box-shadow: 0 0 10px rgba(255, 54, 54, 0.5);
  background: rgba(201, 0, 0, 0.5);
  border: 1px solid #ff0000;
}

.yt-button:hover {
  background: rgba(202, 74, 74, 0.5);
}

.twitch-button {
  box-shadow: 0 0 10px rgba(118, 1, 134, 0.5);
  background: rgba(154, 0, 201, 0.5);
  border: 1px solid #c300ff;
}

.twitch-button:hover {
  background: rgba(165, 80, 190, 0.5);
}

.shop-button {
  padding: 10px;
  font-size: 18px;
  background-color: rgba(24, 25, 27, 0.631372549);
  border: 1px solid rgb(128, 128, 128);
  box-shadow: 0 0 10px rgba(143, 143, 143, 0.384);
}

.shop-button:hover {
  background-color: rgba(52, 55, 59, 0.768627451);
}

button .disabled {
  border-radius: 10px;
  background-color: rgba(28, 28, 28, 0.7490196078);
  padding: 6px;
  margin: 5px;
  color: rgb(108, 108, 108);
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: 0.8s;
}

.titles {
  background: linear-gradient(to bottom, white, #b6b6b6);
  --webkit-background-clip: text;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 35px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 25px;
  word-wrap: break-word;
}

.titles:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.308);
  bottom: -6px;
  left: 0;
  border: none;
  border-radius: 3px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

/* ---- A PROPOS ---- */
.grid-staff {
  height: auto;
  border: none;
  background-color: rgba(31, 32, 35, 0.631372549);
  border-radius: 25px;
  border: 1px solid #333;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 355px;
  float: left;
  margin: 8px auto;
  padding-inline: 15px;
  padding-block: auto;
}
.grid-staff h3 {
  font-size: 22px;
}
.grid-staff small {
  color: rgb(163, 163, 163);
}
.grid-staff img {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50px;
  border: 1px solid #fff;
}

/* ---- BOUTIQUE ---- */
.grid-shop {
  height: auto;
  border: none;
  background-color: rgba(31, 32, 35, 0.631372549);
  border-radius: 25px;
  border: 1px solid #333;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding-bottom: 0px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid-shop .prix-original {
  font-size: 20px;
  text-decoration-line: line-through;
  color: #7a7a7a;
}
.grid-shop .prix-actuel {
  font-size: 27px;
}
.grid-shop h3 {
  font-size: 28px;
  font-weight: 600;
}
.grid-shop .prix-original::after {
  content: "€";
}
.grid-shop .prix-actuel::after {
  content: "€";
}

.grid-shop:hover {
  transform: scale(1.02);
  background-color: rgba(31, 32, 35, 0.9098039216);
}

.reductions {
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 6px;
  font-family: "Sora", sans-serif;
  background: rgba(83, 89, 97, 0.26);
  margin-top: 5px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-shadow: none;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.chargementBoutique {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 65px;
}

.add-infos-shop {
  background: rgba(59, 64, 71, 0.58);
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  font-family: "Sora", sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  box-shadow: 0px 2px 3px #000000;
}

/* ---- TELECHARGEMENTS ---- */
.grid-downloads {
  height: auto;
  border: none;
  background-color: rgba(31, 32, 35, 0.631372549);
  border-radius: 25px;
  border: 1px solid #333;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 15px;
  transition: 0.3s;
}
.grid-downloads h3 {
  font-size: 22px;
}

.dsi-grid {
  background-image: url("https://cdn.homebrew-france.site/telechargements/dsi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ds3-grid {
  background-image: url("https://cdn.homebrew-france.site/telechargements/3ds.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.switch-grid {
  background-image: url("https://cdn.homebrew-france.site/telechargements/switch.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-container {
  flex-direction: row;
}
.btn-container .grid-staff {
  margin-bottom: 8px;
  bottom: 4px;
}

.grid-downloads:hover {
  transform: scale(1.02);
  background-color: rgba(31, 32, 35, 0.9098039216);
}

/**/
.warning, .header_discord {
  background: rgba(0, 0, 0, 0.2);
  margin-block: 15px;
  font-size: 17px;
  font-family: "Space Grotesk", sans-serif;
  border: 1px solid #75418d;
  border-radius: 50px;
  backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 100%;
  font-weight: 400;
  padding-inline: 18px;
  padding-block: 8px;
  box-shadow: 0 0 10px rgba(222, 150, 255, 0.3);
}

.home-header {
  display: flex;
  flex-direction: row;
}

.discord-img {
  display: flex;
  align-items: center; /* Centrer verticalement si l'image est plus petite que le conteneur */
  justify-content: center; /* Centrer horizontalement */
  max-height: 450px; /* Hauteur maximale du conteneur */
  width: 50%;
  padding: 25px;
}

.discord-desc {
  justify-content: center;
  align-items: center;
  display: flex;
  max-height: 450px;
  width: 50%;
}

.img-ds-ratio {
  height: 100%; /* Prend toute la hauteur disponible */
  width: auto; /* Maintient le ratio */
  -o-object-fit: contain;
     object-fit: contain; /* Empêche le rognage et conserve le ratio */
}

.banner-container {
  display: flex;
  box-shadow: 0px 2px 3px #000000;
  border: none;
  border-radius: 10px;
}

.slideshow {
  display: flex;
  width: 100%;
  border: none;
}

.slideshow:hover {
  cursor: default;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  padding: 4px;
  height: 100%;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.3s;
  border: none;
}

.prev {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(59, 64, 71, 0.58);
}

.next {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(59, 64, 71, 0.58);
}

.next:hover {
  background: rgba(117, 117, 117, 0.5);
}

.prev:hover {
  background: rgba(117, 117, 117, 0.5);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

a {
  text-decoration: none;
}

.formHelper h4 {
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */